
body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-top: 20px;
}

h2 {
    font-size: 28px;
    color: #333;
    margin-top: 30px;
}


form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #cabd49;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #b1a505d0;
}


ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 80%;
}

ul li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li a {
    color: #d9534f;
    text-decoration: none;
    font-size: 14px;
}

ul li a:hover {
    text-decoration: underline;
}
